
    .Product-container-box{
        background: url(../assset/img/Service-BG.PNG);
        background-position: center;
        background-size: cover;
    }
    
    .product-container{
        display: flex;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        background: url(./bg-25.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
    }

    .nav{
        display:grid;
        width:100%;
        height: 100%;
    }

    .index,.PDF-Link, .Get-in-Touch{
        margin: 0 50px 50px 50px;
    }


    .nav .index a, .PDF-Link a{
        width: 300px;
        display: grid ;
        text-decoration: none;
        color: #000;
        font-weight: 700;
        padding: 10px;
        box-shadow: 2px 2px 2px 2px #fff;  
        transition:  .5s ease;
    }

    .nav .index a:hover{
        background-color: red;
        color: #fff;
    }

    .PDF-Link h1{
        font-size: 30px;
    }


    .PDF-Link a:hover{
        border-left: 7px solid red;
        background-color: #140849;
        color: #fff;
    }

    .PDF-Link, .Get-in-Touch{
        margin-top: 0;
    }

    .Get-in-Touch{
        width: 300px;
        box-shadow: 2px 2px 2px 2px #f2f2f2;
    }
    .Get-in-Touch h1{
        font-family:'Times New Roman', Times, serif; 
        font-family:;
        font-weight: 700;
    }

    .Get-in-Touch h2{
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #000;
    }

    .Get-in-Touch i{
        color :red;
        padding-right: 10px;
    }

    .product-description {
        text-align:justify;
        margin-right: 120px;
    }
    .product-description h1{
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 700;
    }
    .product-description p{
        font-family: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-bottom: 10px;
    }

    .product-description p span{
        font-weight: 900;
        color: #000;
    }

    .product-description h3{
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .product-image {
        display: flex;
        flex-basis: 50%;
    }
    .product-image img{
        width: 400px;
        padding-right:10px ;
    }
    #product-specification {
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 10px;
    }
    #product-specification td {
        width: 170px;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #product-specification tr:nth-child(odd){ 
        font-weight:700 ;
    }
    #product-specification tr:nth-child(even){
        font-weight: 700;
    }

    #product-specification tr:hover {background-color: #ddd;}

    .product-image-Motor img,.product-image-APFC img { 
        width: 100%;
    }

    .product-image-cast{
        display: flex;
    }
    .product-image-cast img{
        width: 50%;
        padding-right: 10px;
    }
    .product-description .repair-Type {
        font-weight: bold;
    }
    .product-description ul li span{
        font-weight: bold;
    }
    
    .product-description h2{
        font-size: 20px;
        font-weight:700; 
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
    }

    .product-description .special-feature {
        list-style:url(./tick.png);
        float: center;
    }
    .Product-container-box img{
        width: 100%;
        height: 100%;
    }

    #Cover{
        width: 100%;
        height: 300px;
        display: grid;
    }
.Cover-background{
    width: 100%;
    height: 300px;
}

.Cover-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.content{
    display: contents;
    padding: 10px;
}
.content h1{
    margin: -120px 0 0 110px;
    font-size: 45px;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    line-height: 20px;
    color: #fff;
}
.content p{
    margin: -100px 0 0 110px;
    padding: 20px;
    line-height: 10px;
}

.content p a{
    text-decoration: none;
    font-size: 20px;
    color: #fff ;
    font-weight: 700;
}
.content p i, span{
    font-size: 20px;
    color:#fff;
}
